#cv-full,
#binary-full,
#projects-full,
#bin-full {
  display: none;
  position: absolute;
  overflow: hidden;
  background-color: whitesmoke;
  border: grey 3px solid;
  top: 50px;
  left: 50px;
  z-index: 10;
  width: 60%;
  height: 40%;
  height: fit-content;
}
#bin-full.draggable,
#cv-full.draggable,
#binary-full.draggable,
#projects-full.draggable {
  cursor: grab;
  user-select: none;
  position: absolute;
}
