@import url("screenItems.css");
@import url("appTemplates.css");
@import url("bottomMenu.css");
@import url("appSpecific/cv.css");
@import url("appSpecific/Projects.css");
@import url("./fileSetup/wordfile.css");
@import url("/topmenu.css");
@import url("/appSpecific/binary.css");
@import url("/appSpecific/binary.css");

@import url("./css/screenItems.css");
@import url("./css/appTemplates.css");
@import url("./css/bottomMenu.css");
@import url("./css/appSpecific/cv.css");
@import url("./cssappSpecific/Projects.css");
@import url("./css/fileSetup/wordfile.css");
@import url("./css/topmenu.css");
@import url("./css/appSpecific/binary.css");
@import url("./css/appSpecific/binary.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  user-select: text;
}

#app-container {
  background-image: url("../images/hillsite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

/* common classes */
.row {
  display: flex;
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.full-width {
  width: 100%;
}
.resizer {
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.resizable {
  resize: both;
  overflow: auto;
}
