* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#app-container {
  background-image: url("../images/hillsite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

#btm-navbar {
  background-color: #245edc;
  align-self: end;
  width: 100%;
  height: 7%;
  display: flex;
  position: absolute;
  bottom: 0;
}

#end-menu {
  background-color: #1186e3;
  width: 11%;
  height: 100%;
  display: flex;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* app common class */




/* cv classes */
#cv-full {
  width: 400px;
  height: 300px;
}

#cv-photo {
  width: 250px;
  height: 250px;
}

/* binary classes */
#binary-full {
  width: 400px;
  height: 300px;
}

#binary-code {
  padding: 10px;
  font-size: 14px;
}

/* projects classes */
#projects-full {
  min-width: 400px;
  height: 300px;
}

.Files-system {
  min-width: 100px;
  margin: 5px;
}

/* bin classes */
#bin-full {
  width: 400px;
  height: 300px;
}




/* bottom window classes */


/* common classes */
.row {
  display: flex;
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  
}
.center {
  justify-content: center;
  align-items: center;
}
.full-width  {
  width: 100%;
}
.resizer {
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.resizable {
  resize: both;
  overflow: auto;
}