* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
#screen {
  background-image: url("/images/hillsite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  display: flex;
  overflow: hidden;
}
#btm-navbar {
  background-color: #245edc;
  align-self: end;
  width: 100%;
  height: 5%;
  display: flex;
  position: absolute;
}

#end-menu {
  background-color: #1186e3;
  width: 11%;
  height: 100%;
  display: flex;
  margin-left: 80%;
}
.app {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  margin: 20px 10px;
}
.app > p {
  text-align: center;
}
.app > img {
  cursor: pointer;
}

/*app common class*/
#cv-full,
#binary-full,
#projects-full,
#bin-full {
  display: none;
  position: absolute;
  overflow: hidden;
  background-color: whitesmoke;
  border: grey 3px solid;
}
#bin-full.draggable,
#cv-full.draggable,
#binary-full.draggable,
#projects-full.draggable {
  cursor: grab;
  user-select: none;
  position: absolute;
}
/*app common class*/

/* cv classes */
#cv-full {
  width: 400px;
  height: 300px;
}

#cv-photo {
  width: 150px;
  height: 250px;
}
/* cv classes */

/* binary classes */
#binary-full {
  width: 400px;
  height: 300px;
}

#binary-code {
  padding: 10px;
  font-size: 14px;
}
/* binary classes */

/* projects classes */
#projects-full {
  width: 400px;
  height: 300px;
}
.Files-system {
  min-width: 100px;
  margin: 5px;
}

/* projects classes */

/* projects classes */
#bin-full {
  width: 400px;
  height: 300px;
}

/* projects classes */

/*top Window classes*/
.top-menu {
  padding: 10px;
  background-color: #1186e3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-menu-pic {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.top-btns-style {
  width: 25px;
  height: 25px;
  border: 2px white solid;
  background-color: #1186e3;
  box-shadow: inset rgba(255, 255, 255, 0.343) 4px 4px 10px 2px;
}
.closeX {
  background-color: red;
}
.closeX:active {
  background-color: rgb(113, 16, 16);
}
/*top Window classes*/

/*botom window classes*/
#start-btn {
  display: flex;
  background-color: #1dc824;
  width: 11%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: white;
}

#start-top {
  background-color: #245edc;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
}
#left-side-menu {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 30%;
}
#right-side-menu {
  background-color: rgb(170, 170, 170);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 50%;
  height: 30%;
}
#start-bottom {
  background-color: #245edc;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
}
#start-full {
  display: none;
  height: 300px;
  width: 200px;
  background-color: white;
  flex-direction: column;
  position: absolute;
  bottom: 24px;
}
/*botom window classes*/

/*common clases*/
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.resizer {
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

/* Add resizable class to all full pages */
.resizable {
  resize: both;
  overflow: auto;
}
/*common clases*/

/*clock classes*/
#clock {
  color: black;
}
/*clock classes*/
